aws_region   = "us-east-1"
project_name = "myapp"
environment  = "production"

vpc_cidr = "10.20.0.0/16"
private_subnet_cidrs = [
  "10.20.1.0/24",
  "10.20.2.0/24",
  "10.20.3.0/24"
]

db_name                    = "appdb"
db_username                = "adminuser"
db_instance_class          = "db.t4g.medium"
db_replica_instance_class  = "db.t4g.medium"
db_allocated_storage_gb    = 100
db_max_allocated_storage_gb = 500

redis_node_type               = "cache.t4g.medium"
redis_replicas_per_node_group = 1
